body {
    background-color: #ffffff;
}
#nav-designator label{
    color: #B3B3B3;
    font-size: 24px;
}

#header{
    border-bottom: 1px solid #444C56;
    background-color: #1C2128;
}
#header-logo{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#header-logo a label{
    font-size: 35px;
    margin-top: 16px;
    margin-bottom: 17px;
    padding: 0px;
    width:114px;
    height: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#C55B5B), to(#979797));
    background: -o-linear-gradient(left, #C55B5B, #979797);
    background: linear-gradient(to right, #C55B5B, #979797);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}
#checkout-page-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#checkout-width-controller{
    width: 40%;
}
#info-container{
    margin-top: 50px;
}
#nav-designator{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
}
.info-box-left label{
    color: #000000;
    font-size: 19px;
}
.info-box-right p{
    color: #777777;
    height: 10px;
}
.checkout-title{
    color: #A74A4A;
    font-size: 24px;
    margin-top: 30px;
}

#checkout-screen-container {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #747474;
    border-radius: 8px;
    color: #464646;
    padding:70px 50px;
    margin: auto;
    margin-top: 8px;

    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}
#paypal-button-container{
    width: 75%;
}
#status-msg {
    text-align: left;
    margin-top: 11px;
    padding-left: 5px;
    color: #777777;
}
#status-msg img{
    height: 23px;
    width: 23px;
    margin-right: 7px;
}
#status-msg label{
    margin-top: 7px;
}
@media only screen and (max-width: 1200px) {
    #paypal-button-container{
        width: 90%;
    }
    #checkout-screen-container {
        padding:30px 10px;
    }
}
@media only screen and (max-width: 700px) {
    #checkout-width-controller{
        width: 90%;
    }
    #checkout-screen-container {
        padding:30px 30px;
    }
}